.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	padding: 20px;
}

.grid-item {
	position: relative;
	border: 1px solid #ccc;
    background-color: rgb(220, 220, 220);
	border-radius: 5px;
	padding: 20px;
	text-align: left;
}

.grid-item img {
	max-width: 100%;
	height: 300px;
	/*object-fit: cover;*/
	/*border-radius: 50%;*/
	/*margin-bottom: 10px;*/
}
.grid-item span{
    font-size: 18px;
    font-weight: 600;
    color: #d82a4e;
}
.price{
    position: absolute;
    top:10px;
    left:10px;
    padding: 10px 15px;
    background-color: rgb(150, 5, 5);
    /* z-index: 10; */
    color: aliceblue;
}

.grid-item h3 {
	margin: 10px 0;
}

.grid-item p {
	color: #777;
}

.grid-item .bottom{
	border-top: 2px solid #969494;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 20px;
}
.grid-item .bottom img {
    max-width: 20%;
    border-radius: 50%;
    height: auto;
}

.grid-item .bottom p {
	font-size: 16px;
	font-weight: 300;
    color: #343031;

}

.grid-item .bottom .span {
	font-size: 18px;
	font-weight: 300;
    color: #d82a4e;

}